/*Primary colors*/
$primary: hsl(246, 80%, 60%);

/*Neutral Colors*/
$paleblue: hsl(236, 100%, 87%);
$desaturatedblue: hsl(235, 45%, 61%);
$darkblue: hsl(235, 46%, 20%);
$verydarkblue: hsl(226, 43%, 10%);
$white: #fff;
